[Unit]
Description=Run StockTS data pipeline at market research checkpoints

[Timer]
OnCalendar=*-*-* 07:00:00
OnCalendar=*-*-* 09:00:00
OnCalendar=*-*-* 13:00:00
OnCalendar=*-*-* 15:00:00
Persistent=true
AccuracySec=1m
Unit=stock-ts-daily-analysis.service

[Install]
WantedBy=timers.target
